<div>
  <mat-checkbox [(ngModel)]="todo.complete" (change)="updateTodo(todo)"></mat-checkbox>
  <button mat-button *ngIf="!todo.edit" (mouseenter)="todo.showEditButtons=true"
          (mouseleave)="todo.showEditButtons=false">{{todo.title}}
    <button mat-icon-button color="accent">
      <mat-icon aria-label="Example icon-button with a heart icon" *ngIf="todo.showEditButtons"
                (click)="$event.preventDefault();todo.edit=true;">edit
      </mat-icon>
    </button>
    <button mat-icon-button color="warn" (click)="deleteTodo(todo)">
      <mat-icon aria-label="Example icon-button with a heart icon" *ngIf="todo.showEditButtons">close</mat-icon>
    </button>
  </button>

  <mat-form-field *ngIf="todo.edit"><input name="title" title="title" type="text" *ngIf="todo.edit" matInput [(ngModel)]="todo.title" >
  </mat-form-field>

  <button *ngIf="todo.edit" (click)="updateTodo(todo)" mat-raised-button color="accent">Save</button>
</div>
